<nav>
  <section class="site-title">
    <a href="/"><h1>Blog Ninja</h1></a>
    <p>Net Ninja site</p>
  </section>
  <ul>
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New blog</a></li>
  </ul>
</nav>
