<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include('./partials/nav') %>
    <section class="not-found content">
      <h2>Ooops page not found :)</h2>
    </section>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
