<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include('./partials/nav') %>
    <main>
      <section class="about content">
        <h2>About us</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab dolor
          minima reiciendis fuga nihil exercitationem natus earum sequi.
          Expedita, harum.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab dolor
          minima reiciendis fuga nihil exercitationem natus earum sequi.
          Expedita, harum.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab dolor
          minima reiciendis fuga nihil exercitationem natus earum sequi.
          Expedita, harum.
        </p>
      </section>
    </main>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
